asgiref==3.2.10
async-timeout==3.0.1
autopep8==1.5.4
Babel==2.6.0
bcrypt==3.1.7
channels==3.0.3
channels-redis==3.2.0
cryptography==3.3.1
daphne==3.0.1
decorator==4.4.2
Django==3.0.9
django-appconf==1.0.4
django-crispy-forms==1.10.0
django-environ==0.4.5
django-filter==2.4.0
django-googledrive-storage==1.5.2
djangorestframework==3.12.1
hiredis==1.1.0
httpie==2.2.0
httplib2==0.18.1
jedi==0.17.2
Jinja2==2.10.1
Pillow==7.0.0
roman==2.0.0
rsa==4.6
simplejson==3.16.0
six==1.14.0
Sphinx==1.8.5
sqlparse==0.3.1
Twisted==20.3.0
urllib3==1.25.8
virtualenv==20.0.29

